[submodule "machina"]
	path = machina
	url = https://github.com/ravahn/machina
[submodule "snappy.net"]
	path = snappy.net
	url = https://github.com/robertvazan/snappy.net
[submodule "crc32c.net"]
	path = crc32c.net
	url = https://github.com/robertvazan/crc32c.net
